<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			
			input{
				display: block;
				height: 36px;
				line-height: 36px;
				text-indent: 12px;
				margin-top: 10px;
				width:200px;
				box-sizing: border-box;
			}
		</style>
	</head>
	<body>
		<form method="post" action="/register">
			<input type="text"  name="userName" value="" placeholder="用户名" />
		
			<input type="password" name="pwd"  value="" placeholder="密码" />
			<input type="submit"  value="注册"  />
		</form>
		<a href="/index">首页</a>
	</body>
	<script type="text/javascript">
	</script>
</html>
